version: 2

# touch +++++

updates:
  - package-ecosystem: gitsubmodule
    directory: /
    schedule:
      interval: daily
      time: '05:00'
      timezone: Europe/Berlin
    open-pull-requests-limit: 1
    labels:
      - 'dependencies'
      - 'submodules'
      - 'update-expectations'

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
      time: '05:00'
      timezone: Europe/Berlin
    groups:
      all:
        patterns:
          - '*'

  - package-ecosystem: pip
    directory: examples/
    schedule:
      interval: monthly
    groups:
      all:
        patterns:
          - '*'

  - package-ecosystem: pip
    directory: tests/
    schedule:
      interval: monthly
      time: '05:00'
      timezone: Europe/Berlin
    groups:
      all:
        patterns:
          - '*'

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: 'sunday'
      time: '05:00'
      timezone: Europe/Berlin
    groups:
      all:
        patterns:
          - '*'

    ignore:
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-major']
      - dependency-name: devtools-protocol
      - dependency-name: chai
        versions: ['>=5.0.0']
        update-types: ['version-update:semver-major']
