!.vscode/*.template.json
!.vscode/extensions.json
*.cddl
.ackrc
.build
.cache
.envrc
.eslintcache
.idea
.nyc_output*
.vscode/*
.wireit/
MANIFEST.json
__pycache__
chromium-bidi-*
chromium-bidi.iml
coverage/
lib
logs/
node_modules/
out/
tools/third_party/validate-licenses.js
wptreport*.json
