# This workflow will run measure performance in different environments.

name: Measure performance

# Declare default permissions as read only.
permissions: read-all

env:
  DEBUG: 'bidi:server:*,bidi:mapper:*'
  DEBUG_DEPTH: 10
  FORCE_COLOR: 3
  PIP_DISABLE_PIP_VERSION_CHECK: 1

on:
  merge_group:
  pull_request:
  push:
    branches: 'main'
  workflow_dispatch:
    inputs:
      verbose:
        description: Verbose logging
        default: false
        required: false
        type: boolean

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  performane_metric:
    name: ${{ matrix.kind }}-${{ matrix.os }}-${{ matrix.head }}
    strategy:
      fail-fast: false
      matrix:
        # TODO(#876): Add Windows CI.
        os: [ubuntu-latest, macos-latest]
        head: [headful, 'new-headless', 'old-headless']
        # `cd` runs e2e via `chromedriver`. `node` runs tests using `NodeJS` runner.
        kind: [cd, node]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - name: Disable AppArmor
        if: ${{ matrix.os == 'ubuntu-latest' }}
        # https://chromium.googlesource.com/chromium/src/+/main/docs/security/apparmor-userns-restrictions.md
        run: echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns
      - uses: google/wireit@f21db1f3a6a4db31f42787a958cf2a18308effed # setup-github-actions-caching/v2.0.3
      - name: Install and build npm dependencies
        run: npm ci
      # Install chrome, chromedriver and headless shell is required to keep them cached.
      - name: Install all chrome binaries if needed
        uses: ./.github/actions/setup-chrome-binaries
      - name: Set up Python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.11'
          cache: pipenv
      - name: Install pipenv
        run: pip install pipenv
      - name: Install python dependencies
        run: pipenv install
      - name: Run E2E performance tests with xvfb-run
        if: matrix.os == 'ubuntu-latest' && matrix.head == 'headful'
        timeout-minutes: 2
        run: >
          xvfb-run --auto-servernum
          npm run e2e:${{ matrix.head }}
          -k test_performance_
          -s
          > tests_output.txt
        env:
          VERBOSE: ${{ github.event.inputs.verbose }}
          CHROMEDRIVER: ${{ matrix.kind == 'cd' }}
      - name: Run E2E performance tests
        if: matrix.os != 'ubuntu-latest' || matrix.head != 'headful'
        timeout-minutes: 2
        run: >
          npm run e2e:${{ matrix.head }}
          -k test_performance_
          -s
          > tests_output.txt
        env:
          VERBOSE: ${{ github.event.inputs.verbose }}
          CHROMEDRIVER: ${{ matrix.kind == 'cd' }}
      - name: Extract and store performance metrics
        id: extract_metrics
        run: |
          grep 'PERF_METRIC:' tests_output.txt | sed 's/^PERF_METRIC://' > performance_metrics.txt
          echo "Extracted performance metrics:"
          cat performance_metrics.txt
      - name: Upload performance result as artifact
        uses: actions/upload-artifact@v4
        with:
          name: performance-metrics-${{ matrix.os }}-${{ matrix.head }}-${{ matrix.kind }}
          path: performance_metrics.txt
