name: playwright CI

# Declare default permissions as read only.
permissions: read-all

on:
  workflow_dispatch:

concurrency:
  group: playwright-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  playwright-test:
    name: Run playwright tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Chromium-BiDi
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          path: 'bidi'
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: 'microsoft/playwright'
          path: 'playwright'
      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: './bidi/.nvmrc'
          cache-dependency-path: 'playwright/package-lock.json,bidi/package-lock.json'
      - name: Disable AppArmor
        # https://chromium.googlesource.com/chromium/src/+/main/docs/security/apparmor-userns-restrictions.md
        run: echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns
      - uses: google/wireit@f21db1f3a6a4db31f42787a958cf2a18308effed # setup-github-actions-caching/v2.0.3
      - name: Install Chromium-BiDi dependencies
        working-directory: bidi
        run: npm ci
      - name: Build Chromium-BiDi
        working-directory: bidi
        run: |
          npm run build
      - name: Link Chromium-BiDi
        working-directory: bidi
        run: npm link
      - name: Install playwright dependencies
        working-directory: playwright
        run: npm ci
      - name: Build playwright
        working-directory: playwright
        run: npm run build
      - name: Install Chromium-BiDi
        working-directory: playwright
        run: |
          npm link chromium-bidi --ignore-scripts
      - name: Build playwright again
        working-directory: playwright
        run: npm run build
      - name: Install playwright deps
        working-directory: playwright
        run: npx playwright install-deps chromium
      # Install chrome, chromedriver and headless shell is required to keep them cached.
      - name: Install all chrome binaries if needed
        uses: ./bidi/.github/actions/setup-chrome-binaries
        with:
          working-directory: bidi
      - name: Install pinned browser
        id: browser
        working-directory: bidi
        run: node tools/install-browser.mjs --github
      - name: Run tests
        working-directory: playwright
        env:
          BIDI_CRPATH: ${{ steps.browser.outputs.executablePath }}
        run: xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- npm run biditest -- --project=bidi-chromium*
