# This workflow will update the WebdriverBiDi types.

name: Update WebdriverBiDi types

# Declare default permissions as read only.
permissions: read-all

on:
  schedule:
    # Run daily at 10AM.
    - cron: '0 10 * * *'
  workflow_dispatch:
    inputs:
      source_ref:
        description: Ref in spec repo to update from. Default is `main`.
        default: main
        required: false
        type: string
      repository:
        description: Repository with the spec to update from. Default is `w3c/webdriver-bidi`.
        default: w3c/webdriver-bidi
        required: false
        type: string

jobs:
  build_main_spec:
    name: Build main spec cddl types
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          cargo install cddlconv@0.1.8;
          npm install parse5
      - name: Check out the main spec repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ${{ github.event.inputs.repository || 'w3c/webdriver-bidi' }}
          ref: ${{ github.event.inputs.source_ref || 'main' }}
          path: webdriver-bidi
      - name: Generate WebDriverBidi CDDL
        run: ./scripts/test.sh
        working-directory: webdriver-bidi
      - name: Upload WebDriverBidi CDDL
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: all-cddl
          path: webdriver-bidi/all.cddl

  build_permissions:
    name: Build Permissions CDDL
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          cargo install cddlconv@0.1.8;
          npm install parse5
      - name: Check out the main spec repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ${{ github.event.inputs.repository || 'w3c/webdriver-bidi' }}
          ref: ${{ github.event.inputs.source_ref || 'main' }}
          path: webdriver-bidi
      - name: Check out w3c/permissions spec repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: w3c/permissions
          ref: main
          path: permissions
      - name: Generate WebDriverBidi CDDL for Permissions
        run: ../webdriver-bidi/scripts/cddl/generate.js ./index.html && mv all.cddl permissions.cddl
        working-directory: permissions
      - name: Upload WebDriverBidi CDDL for Permissions
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: permissions-cddl
          path: permissions/permissions.cddl

  build_bluetooth_cddl:
    name: Build Bluetooth CDDL
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          cargo install cddlconv@0.1.8;
          npm install parse5
      - name: Check out the main spec repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ${{ github.event.inputs.repository || 'w3c/webdriver-bidi' }}
          ref: ${{ github.event.inputs.source_ref || 'main' }}
          path: webdriver-bidi
      - name: Check out WebBluetoothCG/web-bluetooth spec repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: WebBluetoothCG/web-bluetooth
          ref: main
          path: web-bluetooth
      - name: Generate WebDriverBidi CDDL for web-bluetooth
        run: ../webdriver-bidi/scripts/cddl/generate.js ./index.bs && mv all.cddl web-bluetooth.cddl
        working-directory: web-bluetooth
      - name: Upload WebDriverBidi CDDL for web-bluetooth
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: web-bluetooth-cddl
          path: web-bluetooth/web-bluetooth.cddl

  build_speculation_cddl:
    name: Build Speculation CDDL
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          cargo install cddlconv@0.1.8;
          npm install parse5
      - name: Check out the main spec repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ${{ github.event.inputs.repository || 'w3c/webdriver-bidi' }}
          ref: ${{ github.event.inputs.source_ref || 'main' }}
          path: webdriver-bidi
      - name: Check out WICG/nav-speculation spec repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: WICG/nav-speculation
          ref: main
          path: nav-speculation
      - name: Generate WebDriverBidi CDDL for nav-speculation
        run: ../webdriver-bidi/scripts/cddl/generate.js ./prefetch.bs && mv all.cddl nav-speculation.cddl
        working-directory: nav-speculation
      - name: Upload WebDriverBidi CDDL for nav-speculation
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: nav-speculation-cddl
          path: nav-speculation/nav-speculation.cddl

  build_ua_client_hints_cddl:
    name: Build UA Client Hints CDDL
    runs-on: ubuntu-latest
    steps:
      - name: Install dependencies
        run: |
          cargo install cddlconv@0.1.8;
          npm install parse5
      - name: Check out the main spec repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: ${{ github.event.inputs.repository || 'w3c/webdriver-bidi' }}
          ref: ${{ github.event.inputs.source_ref || 'main' }}
          path: webdriver-bidi
      - name: Check out WICG/ua-client-hints spec repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: WICG/ua-client-hints
          ref: main
          path: ua-client-hints
      - name: Generate WebDriverBidi CDDL for ua-client-hints
        run: ../webdriver-bidi/scripts/cddl/generate.js ./index.bs && mv all.cddl ua-client-hints.cddl
        working-directory: ua-client-hints
      - name: Upload WebDriverBidi CDDL for ua-client-hints
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ua-client-hints-cddl
          path: ua-client-hints/ua-client-hints.cddl

  pr:
    name: Send PR
    needs:
      [
        build_main_spec,
        build_permissions,
        build_bluetooth_cddl,
        build_speculation_cddl,
        build_ua_client_hints_cddl,
      ]
    # Run even if some CDDL's are not built.
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Check out mapper repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.11'
          cache: pip
      - name: Setup Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v5.0.0
        with:
          go-version: '1.21.x'
      - name: Install cddlconv
        run: cargo install cddlconv@0.1.8
      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - uses: google/wireit@f21db1f3a6a4db31f42787a958cf2a18308effed # setup-github-actions-caching/v2.0.3
      - name: Install and build npm dependencies
        run: npm ci
      - name: Download WebDriverBidi CDDL
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: all-cddl
        # Tolerate missing files.
        continue-on-error: true
      - name: Download WebDriverBidi CDDL for Permissions
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: permissions-cddl
        # Tolerate missing files.
        continue-on-error: true
      - name: Download WebDriverBidi CDDL for web-bluetooth
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: web-bluetooth-cddl
        # Tolerate missing files.
        continue-on-error: true
      - name: Download WebDriverBidi CDDL for nav-speculation
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: nav-speculation-cddl
        # Tolerate missing files.
        continue-on-error: true
      - name: Download WebDriverBidi CDDL for ua-client-hints
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: ua-client-hints-cddl
          path: ua-client-hints
        # Tolerate missing files.
        continue-on-error: true
      - name: Generate TypeScript types for the main spec
        run: node tools/generate-bidi-types.mjs --cddl-file all.cddl
        # Tolerate errors during generating types.
        continue-on-error: true
      - name: Generate TypeScript types for Permissions spec
        run: node tools/generate-bidi-types.mjs --cddl-file permissions.cddl --ts-file src/protocol/generated/webdriver-bidi-permissions.ts --zod-file src/protocol-parser/generated/webdriver-bidi-permissions.ts
        # Tolerate errors during generating types.
        continue-on-error: true
      - name: Generate TypeScript types for web-bluetooth spec
        run: node tools/generate-bidi-types.mjs --cddl-file web-bluetooth.cddl --ts-file src/protocol/generated/webdriver-bidi-bluetooth.ts --zod-file src/protocol-parser/generated/webdriver-bidi-bluetooth.ts
        # Tolerate errors during generating types.
        continue-on-error: true
      - name: Generate TypeScript types for nav-speculation spec
        run: node tools/generate-bidi-types.mjs --cddl-file nav-speculation.cddl --ts-file src/protocol/generated/webdriver-bidi-nav-speculation.ts --zod-file src/protocol-parser/generated/webdriver-bidi-nav-speculation.ts
        # Tolerate errors during generating types.
        continue-on-error: true
      - name: Generate TypeScript types for ua-client-hints spec
        run: node tools/generate-bidi-types.mjs --cddl-file ua-client-hints.cddl --ts-file src/protocol/generated/webdriver-bidi-ua-client-hints.ts --zod-file src/protocol-parser/generated/webdriver-bidi-ua-client-hints.ts
        # Tolerate errors during generating types.
        continue-on-error: true
      - run: git diff
      # Needed for `npm run format`.
      - run: python -m pip install pre-commit
      - run: python -m pip freeze --local
      - name: Run formatter
        run: npm run format || npm run format
        continue-on-error: true
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ secrets.BROWSER_AUTOMATION_BOT_TOKEN }}
          branch: browser-automation-bot/update-bidi-types
          delete-branch: true
          committer: Browser Automation Bot <browser-automation-bot@google.com>
          author: Browser Automation Bot <browser-automation-bot@google.com>
          commit-message: 'build(spec): update WebDriverBiDi types'
          title: 'build(spec): update WebDriverBiDi types'
          body: Automatically generated by https://github.com/GoogleChromeLabs/chromium-bidi/blob/main/.github/workflows/update-bidi-types.yml
          push-to-fork: browser-automation-bot/chromium-bidi
