# This workflow will update the version in .browser and open a PR

name: 'Update the pinned browser version'

# Declare default permissions as read only.
permissions: read-all

on:
  schedule:
    # Run every 12 hours
    - cron: '0 */12 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Checkout `browser-automation-bot/update-browser-version` if exits
        run: |
          (git ls-remote --exit-code --heads origin refs/heads/browser-automation-bot/update-browser-version &&
          git checkout browser-automation-bot/update-browser-version &&
          git rebase main) || exit 0
      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - name: Install and build npm dependencies
        run: npm ci
      - name: Update browser pin and devtools-protocol
        id: update
        run: node tools/update_chrome_revision.mjs
      - name: Create Pull Request
        if: ${{ steps.update.outputs.commit }}
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ secrets.BROWSER_AUTOMATION_BOT_TOKEN }}
          branch: browser-automation-bot/update-browser-version
          delete-branch: true
          committer: Browser Automation Bot <browser-automation-bot@google.com>
          author: Browser Automation Bot <browser-automation-bot@google.com>
          commit-message: ${{ steps.update.outputs.commit }}
          title: ${{ steps.update.outputs.commit }}
          body: |
            Automatically generated by https://github.com/GoogleChromeLabs/chromium-bidi/blob/main/.github/workflows/update-browser-version.yml

            This requires some manual work:
            1. Review and approve the PR.
            1. Approve and run workflows.
            1. Update WPT or e2e expectations and file issues if there was regression.
            1. Merge the PR.
          push-to-fork: browser-automation-bot/chromium-bidi
