# This workflow will run headful selenium tests.

name: WebdriverIO tests

# Declare default permissions as read only.
permissions: read-all

on:
  merge_group:
  pull_request:
  push:
    branches: 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  webdriverio:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          cache: npm
      - name: Disable AppArmor
        # https://chromium.googlesource.com/chromium/src/+/main/docs/security/apparmor-userns-restrictions.md
        run: echo 0 | sudo tee /proc/sys/kernel/apparmor_restrict_unprivileged_userns
      - uses: google/wireit@f21db1f3a6a4db31f42787a958cf2a18308effed # setup-github-actions-caching/v2.0.3
      - name: Install and build npm dependencies
        run: npm ci
      # Install chrome, chromedriver and headless shell is required to keep them cached.
      - name: Install all chrome binaries if needed
        uses: ./.github/actions/setup-chrome-binaries
      - name: Get chrome path
        id: browser
        run: node tools/install-browser.mjs --chrome --github
      - name: Get chromedriver path
        id: driver
        run: node tools/install-browser.mjs --chromedriver --github
      - name: Run WebdriverIO test
        timeout-minutes: 20
        run: >
          xvfb-run --auto-servernum
          node tests_external/webdriverio.mjs
